html {
    scroll-behavior: smooth;
    font-size: 14px;
  }

body {
    font-family: "Montserrat", Sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    width: 60vw;
    min-width: 900px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: #9e1c1c;
    color: white;
    margin-top: 0;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #9e1c1c;
    clip-path: inset(0 -100vmax);
}


.full-bleed-grey {
    box-shadow: 0 0 0 100vmax #E5E7EB;
    clip-path: inset(0 -100vmax);

}

.header-container {
    display: flex;
    justify-content: space-between
}

.page-header h2 {
    color: #F9FAF8;
    font-family: "Gasoek One", sans-serif;
    font-size: 2.4rem;
    margin-top: 4px;
    margin-bottom: 6px;
    font-weight: 400;
}

.left-title {
    padding-right: 15px;
    border-left: #F9FAF8;
    border-right-style: solid;
    border-right-width: 3px;
}

.right-title {
    padding-left: 15px;
}


.page-header ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-grow: 0;
    list-style: none;
    margin: 0;
    padding: 0;

}

.page-header li {
    padding: 20px 35px;
    margin: 0;
    font-weight: 700;
    
}

.page-header li:hover {
    background-color: #1a1a1a;
    color: #9e1c1c;
}

.nav-links > li > a, .title-container p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1rem;
}


.row-one {
    box-shadow: inset 0 0 0 1000px rgba(00, 00, 00, 0.5);
    background-image: linear-gradient(to bottom, rgba(00, 00, 00, 0.0), rgba(00, 00, 00, 0.9)),  url(./images/kiof-header.jpeg);
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;  
    padding: 80px 0;
}

.title-container {
    flex: 1;  /* flex: 1 on all flex items seems to make them equal in width */
    margin: 0;
    padding: 0 35px;
}

.title-container h1 {
    color: #F9FAF8;
    filter: drop-shadow(0 0 25px #000000);
    font-size: 3.4vw;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0;
    font-family: "Gasoek One", sans-serif;
}

.title-container p {
    margin-bottom: 25px;
    font-size: 1rem;
    filter: drop-shadow(0 0 15px #000000);
}

.title-container button {
    padding: 20px 45px;
    color: #f9faf8;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 900;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin: 0 auto;
}

.title-container button:hover {
    background-color: white;
    color:#9e1c1c;
}

.video-container {
    flex: 1;
}

.video-container iframe {
    width: 100%;
}

.row-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 20px;
}

.row-two h2 {
    margin-top: 0;
    font-size: 2rem;
}

.icon-container p {
    margin: 0;
}

.icon-gallery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    text-align: center;
} 

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 180px;
}

.img-placeholder img {
    width: 150px;
    flex-shrink: 1;
    border-color: #9e1c1c;
    border-style: none;
    border-width: 5px;
    border-radius: 100px;
    filter: drop-shadow(0 0 8px #c2c2c2);
}

.icon-container h3 {
    margin-bottom: 1.5rem;
}

.row-three {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 100px;
    gap: 50px;
    background-color: #E5E7EB;
}

.quote-container {
    flex-grow: 1;
    width: 50rem;
}


.row-three > p > i {
    font-size: 1.8rem;
    font-weight: 300;
    color: #1F2937;
}

.row-three p {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.quote-author {
    font-size: 1rem;
}

.row-four {
    padding: 100px;
    margin: auto;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9e1c1c;
    border-radius: 10px;
    padding: 30px 50px;
}

.modal h2, .modal p {
    margin: 0;
    color: #F9FAF8;
}

.modal p {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 300;
}

.modal-message p {
    font-size: 1rem;
    font-weight: 500;
}

.modal button {
    background-color: transparent;
    border: solid #f9faf8;
    border-width: 1px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 15px 25px;
    color: #F9FAF8;
    font-weight: 700;
}

.modal button:hover {
    background-color: #F9FAF8;
    color:#9e1c1c;
}

.footer {
    background-color: #1a1a1a;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 1rem;
}